.home-container {
margin-top: 120px;
margin-left: 120px;
font-size: 48px;

}

.text-title {
  
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
}

.btn-home{
    margin-top: 290px;
}