.btn-main {
    width: 101px;
    height: 40px;
    left: 94px;
    top: 188px;
    background: #1890FF;
    border-radius: 4px;
}

.btn-text {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}