.search-main { 
    width: 1251px;
    height: 270px;
    margin-top: 60px;
    margin-left: 90px;
    background: #E6F7FF;
    border-radius: 16px;
    padding-left: 90px;
    
}
.search-title {
    padding-top: 60px;
    padding-bottom: 15px;
   
}
.search-button {
    padding-top: 30px;
 
    
}